{% extends 'base.html' %}

{% block titulo %}Pets{% endblock %}

{% block conteudo %}

 <div class="row g-3 my-3">

    <div id="header" class="jumbotron text-center">
      <h1 class="display-3"><strong>Adote Aqui</strong></h1>
       <p  class="lead blockquote text-wrap fst-italic texto">Você não pode comprar o amor, mas pode adotar ele. (Autor Desconhecido)</p>
    </div>

    <div class="col-12 col-sm-6 col-xl-4">
      <div class="card cartao">
        <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/cocker-spaniel-2785074_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p><strong>Nome: </strong> Fred</p>
            <p><strong>Raça: </strong>Cavalier king </p>
            <p><strong>Sexo: </strong>M</p>
            <p><strong>Idade Aproximada: </strong>2 Anos</p>
            <p><strong>Situação: </strong>Rua</p>
              <a href="#" class="link-primary ">Mais informações</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-4">
      <div class="card cartao">
        <img src="https://cdn.pixabay.com/photo/2019/05/28/05/47/puppy-4234435_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
           <p><strong>Nome: </strong> Xuxinha</p>
            <p><strong>Raça: </strong>Maltipoo</p>
            <p><strong>Sexo: </strong>F</p>
            <p><strong>Idade Aproximada: </strong>1 Ano</p>
            <p><strong>Situação: </strong>Abrigado</p>
          <a href="#" class="link-primary ">Mais informações</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

     <div class="col-12 col-sm-6 col-xl-4">
      <div class="card cartao">
        <img src=" https://cdn.pixabay.com/photo/2016/05/09/10/42/weimaraner-1381186_960_720.jpg" class="card-img-top" class="card-img-top" alt="...">
        <div class="card-body">
               <p><strong>Nome: </strong>Chocolate</p>
            <p><strong>Raça: </strong>Cane corso</p>
            <p><strong>Sexo: </strong>M</p>
            <p><strong>Idade Aproximada: </strong>5 Anos</p>
            <p><strong>Situação: </strong>Rua</p>
              <a href="#" class="link-primary ">Mais informações</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}