{% extends 'base.html' %}

{% block titulo %}Sobre{% endblock %}

{% block conteudo %}

    <div class="conteudo">
        <h1 class="text-center text-light pt-5 mb-5">Adote Aqui</h1>

        <div class="row g-3">
          <div class="col-12">
            <div class="jumbotron bg-success mx-3 sobre">
              <p class="lead text-light"><strong>Adote Aqui:</strong> É uma aplicação web que tem como objetivo servir como intermediário entre a pessoa que quer doar seu pet e a pessoa que quer adotar um pet. Permite que pessoas cadastrem pets para que outras possam adotá-los.</p>
            </div>
          </div>
          <div class="col-12">
            <h2 class="text-center text-light">Criadores do projeto</h2>
          </div>

          <div class="col-12 col-sm-6  d-flex justify-content-center">
            <div class="card sobre" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/06/05/45/gods-creation-5265306_960_720.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Eduardo</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6  d-flex justify-content-center">
            <div class="card sobre" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/06/05/45/gods-creation-5265306_960_720.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Anderson</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6  d-flex justify-content-center">
            <div class="card sobre" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/07/19/50/gods-creation-5271847_960_720.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Mirella</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6  d-flex justify-content-center">
            <div class="card sobre" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/06/07/19/50/gods-creation-5271847_960_720.pngg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Eduarda</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}