{% extends 'base.html' %}

{% block titulo %}Atualizar Dados{% endblock %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="row justify-content-center font-monospace my-5">
  <div class="col-sm-12 col-md-10 col-lg-8 formulario ">

    <img src="../../../static/img/logo.png" class="rounded mx-auto d-block" alt="..." height="200">

    <form action="{{url_for('autenticacao.cadastrarUsuario')}}" method="POST">

      <div class="form-row row">

        <h3 class="text-center fs-1 my-3">Atualizar Dados</h3>

        <div class="form-group col-sm-6">
          <label for="inputUsername" class="form-label">Nome de usuário:</label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Nome de usuário" name="username" required>
        </div>

        <div class="form-group col-sm-6">
          <label for="inputSenha" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="senha" required>
        </div>

        <div class="form-group col-sm-12">
          <label for="inputNome" class="form-label mt-2">Nome:</label>
          <input type="text" class="form-control" id="inputNome" placeholder="Nome" name="nome" required>
        </div>

        <div class="form-group col-sm-6">
          <label for="inputTelefone" class="form-label mt-2">Telefone:</label>
          <input type="text" class="form-control" id="inputTelefone" placeholder="(88) 88888-8888" name="telefone" required>
        </div>

        <div class="form-group col-sm-6">
          <label for="inputEmail" class="form-label mt-2">E-mail:</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Exemplo@email.com" name="email" required>
        </div>

        <!--<div class="form-group col-sm-12">-->
        <!--  <label for="inputTipo" class="form-label mt-2">O que você deseja?</label>-->
        <!--  <select class="form-select" aria-label="Default select example" id="inputTipo">-->
        <!--    <option value="1" selected>Cadastrar meus animais para adoção.</option>-->
        <!--    <option value="2">Quero adotar um pet.</option>-->
        <!--    <option value="3">Quero cadastrar uma ONG de animais.</option>-->
        <!--    <option value="4">Quero cadastrar animais de rua.</option>-->
        <!--  </select>-->
        <!--</div>-->

        <h3 class="text-center fs-1 mt-3">Endereço</h3>

        <div class="form-group col-sm-3">
          <label for="inputEstado" class="form-label">Estado:</label>
          <select class="form-select" aria-label="Default select example" id="inputEstado" name="estado">
            {% for estado in Estados %}
                <option value="{{estado}}">{{Estados[estado]}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-sm-4">
          <label for="inputBairro" class="form-label">Bairro:</label>
          <input type="text" class="form-control" id="inputBairro" placeholder="" name="bairro" required>
        </div>

        <div class="form-group col-sm-4">
          <label for="inputCidade" class="form-label">Cidade:</label>
          <input type="text" class="form-control" id="inputCidade" placeholder="" name="cidade" required>
        </div>

        <div class="form-group col-sm-9">
          <label for="inputRua" class="form-label mt-2">Rua:</label>
          <input type="text" class="form-control" id="inputRua" placeholder="" name="rua" required>
        </div>

        <div class="form-group col-sm-3">
          <label for="inputNumero" class="form-label mt-2">Número:</label>
          <input type="number" class="form-control" id="inputNumero" placeholder="" name="numero" required>
        </div>

        <h3 class="text-center fs-1 mt-3">Redes sociais</h3>
        <div class="form-group col-sm-6">
          <label for="inputFacebook" class="form-label">Facebook:</label>
          <input type="text" class="form-control" id="inputFacebook" placeholder="" name="facebook">
        </div>

        <div class="form-group col-sm-6">
          <label for="inputInstragram" class="form-label">Instagram:</label>
          <input type="text" class="form-control" id="inputInstragram" placeholder="" name="instagram">
        </div>

        <div class="form-group col-sm-6">
          <label for="inputWhatzapp" class="form-label mt-2">whatsapp:</label>
          <input type="text" class="form-control" id="inputWhatzapp" placeholder="" name="whatsapp">
        </div>

        <div class="form-group col-sm-6">
          <label for="inputTelegram" class="form-label mt-2">Telegram:</label>
          <input type="text" class="form-control" id="inputTelegram" placeholder="" name="telegram">
        </div>


        <div class="form-group col-12 text-center">
          <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Cadastrar</span></button>
        </div>

      </div>

    </form>

  </div>

</div>

{% endblock conteudo %}
