{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
<div class="alert alert-warning text-center" role="alert">
  {% for mensagem in mensagens %}
  <h2>{{mensagem}}</h2>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="row justify-content-center my-5 font-monospace">

  <div class="col-sm-6  col-lg-5 formulario ">

    <img src="../../../static/img/logo.png" class="rounded mx-auto d-block my-2" alt="..." height="200">

    <form>

      <h3 class="text-center fs-1 my-2">Login</h3>

      <div class="form-group">
        <label for="inputUsername" class="form-label">Nome de usuário:</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="Nome de usuário" name="usernameLogin" required>
      </div>

      <div class="form-group my-3">
        <label for="inputSenha" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="senhaLogin" required>
      </div>

      <div class="form-group">
        <a href="#" class="">Esqueceu a senha?</a>
      </div>

      <div class="form-group col-12 text-center">
        <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Entrar</span></button>
      </div>

    </form>

  </div>

</div>

{% endblock conteudo %}