{% extends 'base.html' %}

{% block titulo %}Cadastrar{% endblock %}

{% block conteudo %}

<div class="row justify-content-center my-5 font-monospace">
  
  <div class="col-sm-6  col-lg-5 formulario bg-success">

    <img src="https://cdn.pixabay.com/photo/2017/09/25/15/37/hurry-up-2785528_960_720.png" class="rounded mx-auto d-block my-3" alt="..." height="100">
    
    <form>
      
      <h3 class="text-center fs-1 my-3">Login</h3>

      <div class="form-group">
        <label for="inputUsername" class="form-label">Nome de usuário:</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="Nome de usuário" name="usernameLogin" required>
      </div>

      <div class="form-group my-3">
        <label for="inputSenha" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="senhaLogin" required>
      </div>

      <div class="form-group">
        <a href="#" class="">Esqueceu a senha?</a>
      </div>

      <div class="form-group col-12 text-center">
        <button type="submit" class="btn my-3  btn-lg btn-secondary"><span class="mx-5">Entrar</span></button>
      </div>

    </form>
    
  </div>
  
</div>

{% endblock conteudo %}