/*.formulario {*/
/*  background-color: #52b67f;*/
/*  border-radius: 5px;*/
/*}*/

body {
  background-color: #86e9b2;
}

/*Css da barra de navergação */
nav{
  background-color: rgb(11, 218, 80);
}

 nav ul {
     margin: 0;
     padding: 0;
 }

 nav a{
     color: rgb(0, 0, 0);
     padding: 10px;
     display: block;
     font-size: 25px;

 }

 nav li {
     float: left;
 }

 nav a:hover {
     background-color: white;
     color: rgb(11, 218, 80);
 }

 nav img{
    position: relative;
    top: 0;
    height: auto;
    width: 10%;

 }

 /*Para os formularios*/
 .formulario {
  background-color: #52b67f;
  border: 3px solid blueviolet;
  border-radius: 5px;
}

.botao {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.botao:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}

.entrada:hover {
  border: 3px solid blueviolet;
}

label {
  font-size: 20px;
}

/*Estilo da página Perfil de Usuário*/
.padding {
    padding: 3rem !important
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#9370DB), to(#006400));
    background: linear-gradient(to right, #9370DB, #FFC0CB)
}

.p-b-5 {
    padding-bottom: 5px !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-l-0 {
    margin-left: 0px
}

.m-r-0 {
    margin-right: 0px
}

.card-block {
    padding: 1.25rem
}

.user-card-full {
    overflow: hidden
}
.m-b-25 {
    margin-bottom: 25px
}

h6 {
    font-size: 14px
}

.f-w-600 {
    font-weight: 600
}

.modal-personalizado{
        min-width: 90%;
        margin-left: 80;
}
