<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid ">
            <img id="logo" src="https://adoteaqui.pythonanywhere.com/static/img/logo.png" alt="JobFinder" height="200">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Pesquisar..">
            <!--<button class="btn btn-outline-success" type="submit">Ok</button>-->
          </form>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('root')}}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('sobre.sobre')}}">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('usuario.cadastro')}}">Cadastrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('usuario.login')}}">Login</a>
              </li>

               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pets
                </a>
                 <ul class="dropdown-menu" aria-atomic="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('animal.cadastroAnimal')}}">Cadastrar Pet</a></li>
                   <li><a class="dropdown-item" href="{{url_for('animal.pets')}}">Lista de Pets</a></li>
                 </ul>
                </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuário
                </a>
                 <ul class="dropdown-menu" aria-atomic="navbarDropdown">
                  <li><a class="dropdown-item" href="{{url_for('usuario.atualizarPerfil')}}">Atualizar perfil</a></li>
                  <li><a class="dropdown-item" href="{{url_for('usuario.perfilUsuario')}}">Lista de usuarios</a></li>
                 </ul>
                </li>

            </ul>

          </div>
        </div>
      </nav>
    <div class="container">
        {% block conteudo %}{% endblock %}
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>